body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  text-align: center;
}
.inputan-uang {
  width: 60%;
  padding: 0.25em;
  border: 1px black solid;
  border-radius: 0.3em;
}
.select-uang {
  width: 30%;
  margin-left: 5%;
}
